.reviewList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reviewItem {
  background-color: var(--surface);
  padding: 16px 20px;
  border-radius: 8px;

  border-left: 4px solid var(--primary-accent);
}

.author {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.review {
  font-size: 16px;
  color: var(--text-secondary);
  line-height: 1.7;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .reviewItem {
    padding: 20px 28px;
  }

  .author {
    font-size: 20px;
  }

  .review {
    font-size: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .reviewList {
    gap: 32px;
  }

  .reviewItem {
    padding: 24px 32px;
  }

  .review {
    font-size: 18px;
  }
}
