.nav {
  display: flex;
  gap: 15px;
  padding: 8px 16px;
  border-bottom: 1px solid #000;
}

.link {
  text-decoration: none;
  padding: 6px 12px;
  color: #000000;
  font-size: 18px;
  transition: color 100ms linear;
}

.active {
  color: #000000fd;
  text-shadow: 2px 2px 3px rgb(7, 83, 0);
}
