.container {
  display: flex;
  justify-content: flex-start;
  padding: 4px 0px;
}

.form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input {
  width: 250px;
  background-color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 8px 16px;
  transition: background-color 0.5s;
}

.input:focus {
  background-color: rgba(255, 255, 255, 0.596);
}

.button {
  border-radius: 4px;
  border: none;
  color: black;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.596);
  transition: background-color 0.5s;
}

.button:hover {
  background-color: rgba(53, 255, 130, 0.712);
}
