.headerWrapper {
  width: 100%;
  background-color: var(--surface);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 12px 24px;
}

.nav {
  display: flex;
  gap: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  padding: 8px 4px;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  position: relative;

  transition: color 0.2s ease-in-out;
}

.link:hover {
  text-decoration: none;
  color: var(--primary-accent);
}

.active {
  color: var(--secondary-accent);
  font-weight: 700;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-accent);
}

@media screen and (min-width: 768px) {
  .headerContainer {
    padding: 12px 32px;
  }

  .nav {
    gap: 24px;
  }

  .link {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .headerContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 40px;
  }

  .active::after {
    bottom: -18px;
  }

  .nav {
    gap: 32px;
  }
}
