.castList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px 16px; /* Відстань між рядками і колонками */
}

.item {
  background-color: var(--surface);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;

  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(var(--primary-accent-rgb, 58, 134, 255), 0.4);
}

.img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  background-color: var(--border-color);
}

.info {
  padding: 12px 8px;
}

.actor {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 4px;
}

.character {
  font-size: 14px;
  color: var(--text-secondary);
  font-style: italic;
}

.imgPlaceholder {
  width: 100%;
  aspect-ratio: 2 / 3;
  background-color: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: var(--surface);
}
